<section class="widgets-section d-flex justify-content-center align-items-center flex-column">
  <span class="title text-center mb-4">Our official widgets</span>
  <div class="container-sm widget-zone  ">
    <app-widget-card [imagePath]="'assets/widget-editing-example.png'"
                     [title]="'Clock'"
                     [description]="'The simple clock widget with time and date wefwerwerewrfewrwefvffgndfsdvfrsdfdfefefefefefefefefefef'"
                     [url]="'https://github.com'"/>

    <app-widget-card [imagePath]="'assets/widget-editing-example.png'"
                     [title]="'Clock'"
                     [description]="'The simple clock widget with time and date wefwerwerewrfewrwefvffgndfsdvfrsdfdfefefefefefefefefefef'"
                     [url]="'https://github.com'"/>

    <app-widget-card [imagePath]="'assets/widget-editing-example.png'"
                     [title]="'Clock'"
                     [description]="'The simple clock widget with time and date wefwerwerewrfewrwefvffgndfsdvfrsdfdfefefefefefefefefefef'"
                     [url]="'https://github.com'"/>

    <app-widget-card [imagePath]="'assets/widget-editing-example.png'"
                     [title]="'Clock'"
                     [description]="'The simple clock widget with time and date wefwerwerewrfewrwefvffgndfsdvfrsdfdfefefefefefefefefefef'"
                     [url]="'https://github.com'"/>

    <app-widget-card [imagePath]="'assets/widget-editing-example.png'"
                     [title]="'Clock'"
                     [description]="'The simple clock widget with time and date wefwerwerewrfewrwefvffgndfsdvfrsdfdfefefefefefefefefefef'"
                     [url]="'https://github.com'"/>

  </div>
</section>
