@import "src/colors"

.widgets-section
  min-height: calc(100vh - 55px - 55px)
  padding: 10px 0 20px 0

  .widget-zone
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 20px

  .title
    font-size: 3vmax
    color: white
    font-weight: bolder
    line-height: 1.2em
    margin-top: 10px
    font-family: "Inter Bold", serif

