<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>

     <a class="navbar-brand fw-bold text-white" [routerLink]="['/']">Fancy Widgets</a>
    <app-search/>
  </div>
</nav>

<section id="docs-section" class="docs-section">
  <div class="sidebar-container">
    <app-sidebar [ngClass]="{'show': showSidebar}"
                 [showSidebar]="showSidebar"/>
  </div>

  <div #markdown class="markdown-page">
    <markdown [data]="markdownText"/>
  </div>
</section>




