<div #sidebar class="fancy-sidebar" [ngClass]="{'show': showSidebar}">
  <div class="mb-3">
    <label class="fancy-sidebar-button">
      <input type="radio"
             [routerLink]="'/docs/welcome'"
             value="welcome" name="sidebar" [checked]="true"/>
      <span class="button-label">Welcome</span>
    </label>
  </div>

  <span class="docs-title">DOCUMENTATION</span>

  <app-loader class="w-100 h-100 d-flex justify-content-center align-items-center" *ngIf="!isLoaded"></app-loader>
    <div *ngIf="isLoaded" class="d-flex gap-2 mt-2 flex-column">

      <label #items *ngFor="let docs of docsArticles" class="fancy-sidebar-button">
        <input type="radio" value="{{docs.routerUrl}}" name="sidebar"
               [routerLink]="'/docs/' + docs.routerUrl" />
        <span class="button-label">{{docs.title}}</span>
      </label>

    </div>

</div>
