@import "src/colors"

.support
  min-height: calc(100vh - 55px - 55px)
  padding: 10px 0 20px 0

  p
    color: $secondary-text-gray

  .title
    font-size: 3vmax
    font-weight: bolder
    color: white
    font-family: "Inter Bold", serif

  .email
    font-size: 18px
    font-weight: bolder
    color: $juice-blue
