@import "src/styles"

html
  background: $main-color

.main-section
  height: calc(100vh - 55px)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  border: none

  span
    font-size: 5vmax

  p
    color: darkgrey
    font-size: 14px

.features-section
  min-height: calc(100vh)
  border: none

.docs-section
  height: auto
  display: flex
  justify-content: center
  align-content: center

  .docs-container
    padding: 10px

    .fancy-card
      background-image: url("/assets/docs-section-bg.png")
      background-origin: border-box
      background-position: center
      background-size: cover
      position: relative

      a
        //background: #0711a4
        border: 2px solid #a6aeff

  img
    width: 100%

.title
  font-size: 50px
  color: white
  font-family: "Inter Bold", serif

.tip
  font-size: 18px
  width: 100%
  text-align: center
  font-weight: bolder
  bottom: 0
  color: #888888
  margin-top: 20px

.docs-button
  height: 55px
  font-size: 17px
  width: 200px

.fancy-card
  background: $secondary-main-color
  height: 100%
  width: 100%
  padding: 55px
  border-radius: 15px

  .fancy-card-container
    @media screen and (min-width: 768px)
      width: 50%

  .fancy-card-title
    color: $juice-purple-hover
    font-family: "Inter Medium", serif

  .fancy-card-title-main
    color: white
    font-family: "Inter Bold", serif

  .fancy-card-description
    color: $secondary-text-gray
    font-family: "Inter Default", serif

  img
    width: 100%
    height: auto

  .img-background
    @extend .fancy-card
    display: flex
    height: auto
    width: 100%
    justify-content: center
    align-items: center

  .windows-supported
    font-family: "Inter Bold", serif
    color: #0094FF

  .windows-supported-img
    max-width: 235px
    height: auto

.create-widgets
  color: #FFCA0D
  font-family: "Inter Bold", serif

.col-lg-6
  padding: 10px

